<div class="card">


  <!-- TODO make the box replicable with 3 Status (done,pending,failed)-->
  <div class="card list-entry">
    <h2>Goal {{goal.id}}</h2>
      <div class="container">from: {{goal.startDate | date }}<br>to: {{goal.endDate | date}}</div>
    <button  routerLink="/goals/{{goal.id}}" (click)="dashboardService.getGoalWorkoutList(goal);dashboardService.getCompletedGoalWorkoutList(goal)" class="tab-dropbtn clickable"  type="submit"><i class="fa fa-search "></i></button>
  </div>
</div>
