<div class="card">
  <div class="card-header">
    <h1 >Goal {{currentGoal.id}}</h1> <h2>{{goal.startDate | date}} to {{goal.endDate | date}}</h2>
  </div>
  <div class="w3-light-grey w3-round-xlarge">
    <div id="selected-goal-progress" class="w3-container w3-green w3-round-xlarge" [ngStyle]="{'width' : progressBarStyling()}">
      {{progressBarStyling()}}
      <p *ngIf="this.daysLeft(goal.endDate)>1">{{this.daysLeft(goal.endDate)}} days left</p>
      <p *ngIf="this.daysLeft(goal.endDate)==1">{{this.daysLeft(goal.endDate)}} day left</p>
      <p *ngIf="this.daysLeft(goal.endDate)<1">done</p>
    </div>
  </div>


  <div class="container body">

    <div class="card-container">
      <div class="header">
        <h2>Workouts:</h2>
        <button (click)="viewCompleted=!viewCompleted" id="completed" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        show completed workouts
      </button>
      </div>
        <!-- TODO make the box replicable with 3 Status (done,pending,failed)-->
        <ng-container *ngFor="let workout of goalWorkoutList">
          <workout-short [workout]="workout"></workout-short>
        </ng-container>
    </div>

    <div class="container top-right">
      <div class="container">
        <h2>List of goals:</h2>
        <ng-container *ngFor="let goal of goalList">
          <goal-short [goal] = "goal"></goal-short>
        </ng-container>
      </div>
    </div>
  </div>

</div>
